In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('employees.csv')
print("Original Data")
print(data[0:25])

Original Data
   First Name  Gender    Salary  Bonus %                  Team
0     Douglas    Male   97308.0    6.945             Marketing
1     Douglas    Male   97308.0    6.945             Marketing
2     Douglas    Male   97310.0    6.945             Marketing
3      Thomas    Male   61933.0    4.170                   NaN
4       Maria  Female  130590.0   11.858               Finance
5       Jerry    Male  138705.0    9.340                   Fin
6       Larry    Male       NaN    1.389       Client Services
7      Dennis    Male  115163.0   10.125                 Legal
8        Ruby  Female   65476.0   10.012               Product
9         NaN  Female   45906.0   11.598                   Fin
10     Angela  Female   95570.0   18.523           Engineering
11      Maria  Female  130590.0   11.858               Finance
12    Frances  Female  139852.0    7.524  Business Development
13     Louise  Female   63241.0   15.132                   NaN
14      Julie  Female  102508.0   12.637                 Legal
15    Brandon    Male  112807.0   17.492       Human Resources
16       Gary    Male  109831.0    5.831                 Sales
17   Kimberly  Female       NaN   14.543               Finance
18    Lillian  Female   59414.0    1.256               Product
19     Jeremy    Male   90370.0    7.369       Human Resources
20      Shawn    Male  111737.0    6.414               Product
21      Diana  Female  132940.0   19.082       Client Services
22      Donna  Female   81014.0    1.894               Product
23       Lois     NaN   64714.0    4.934                 Legal
24    Matthew    Male  100612.0   13.645                   Mkt

In [3]:
# Filling missing values with mean 
data['Salary']=data['Salary'].fillna(data['Salary'].mean())
print("Cleaned Data")
print(data[0:25])
data = pd.read_csv('employees.csv')
print("Original Data")
print(data[0:25])

Cleaned Data
   First Name  Gender         Salary  Bonus %                  Team
0     Douglas    Male   97308.000000    6.945             Marketing
1     Douglas    Male   97308.000000    6.945             Marketing
2     Douglas    Male   97310.000000    6.945             Marketing
3      Thomas    Male   61933.000000    4.170                   NaN
4       Maria  Female  130590.000000   11.858               Finance
5       Jerry    Male  138705.000000    9.340                   Fin
6       Larry    Male   90754.204795    1.389       Client Services
7      Dennis    Male  115163.000000   10.125                 Legal
8        Ruby  Female   65476.000000   10.012               Product
9         NaN  Female   45906.000000   11.598                   Fin
10     Angela  Female   95570.000000   18.523           Engineering
11      Maria  Female  130590.000000   11.858               Finance
12    Frances  Female  139852.000000    7.524  Business Development
13     Louise  Female   63241.000000   15.132                   NaN
14      Julie  Female  102508.000000   12.637                 Legal
15    Brandon    Male  112807.000000   17.492       Human Resources
16       Gary    Male  109831.000000    5.831                 Sales
17   Kimberly  Female   90754.204795   14.543               Finance
18    Lillian  Female   59414.000000    1.256               Product
19     Jeremy    Male   90370.000000    7.369       Human Resources
20      Shawn    Male  111737.000000    6.414               Product
21      Diana  Female  132940.000000   19.082       Client Services
22      Donna  Female   81014.000000    1.894               Product
23       Lois     NaN   64714.000000    4.934                 Legal
24    Matthew    Male  100612.000000   13.645                   Mkt
Original Data
   First Name  Gender    Salary  Bonus %                  Team
0     Douglas    Male   97308.0    6.945             Marketing
1     Douglas    Male   97308.0    6.945             Marketing
2     Douglas    Male   97310.0    6.945             Marketing
3      Thomas    Male   61933.0    4.170                   NaN
4       Maria  Female  130590.0   11.858               Finance
5       Jerry    Male  138705.0    9.340                   Fin
6       Larry    Male       NaN    1.389       Client Services
7      Dennis    Male  115163.0   10.125                 Legal
8        Ruby  Female   65476.0   10.012               Product
9         NaN  Female   45906.0   11.598                   Fin
10     Angela  Female   95570.0   18.523           Engineering
11      Maria  Female  130590.0   11.858               Finance
12    Frances  Female  139852.0    7.524  Business Development
13     Louise  Female   63241.0   15.132                   NaN
14      Julie  Female  102508.0   12.637                 Legal
15    Brandon    Male  112807.0   17.492       Human Resources
16       Gary    Male  109831.0    5.831                 Sales
17   Kimberly  Female       NaN   14.543               Finance
18    Lillian  Female   59414.0    1.256               Product
19     Jeremy    Male   90370.0    7.369       Human Resources
20      Shawn    Male  111737.0    6.414               Product
21      Diana  Female  132940.0   19.082       Client Services
22      Donna  Female   81014.0    1.894               Product
23       Lois     NaN   64714.0    4.934                 Legal
24    Matthew    Male  100612.0   13.645                   Mkt

In [4]:
# Filling missing values withi
data['Salary']=data['Salary'].interpolate(method="linear")
print("Cleaned Data")
print(data[0:25])

Cleaned Data
   First Name  Gender    Salary  Bonus %                  Team
0     Douglas    Male   97308.0    6.945             Marketing
1     Douglas    Male   97308.0    6.945             Marketing
2     Douglas    Male   97310.0    6.945             Marketing
3      Thomas    Male   61933.0    4.170                   NaN
4       Maria  Female  130590.0   11.858               Finance
5       Jerry    Male  138705.0    9.340                   Fin
6       Larry    Male  126934.0    1.389       Client Services
7      Dennis    Male  115163.0   10.125                 Legal
8        Ruby  Female   65476.0   10.012               Product
9         NaN  Female   45906.0   11.598                   Fin
10     Angela  Female   95570.0   18.523           Engineering
11      Maria  Female  130590.0   11.858               Finance
12    Frances  Female  139852.0    7.524  Business Development
13     Louise  Female   63241.0   15.132                   NaN
14      Julie  Female  102508.0   12.637                 Legal
15    Brandon    Male  112807.0   17.492       Human Resources
16       Gary    Male  109831.0    5.831                 Sales
17   Kimberly  Female   84622.5   14.543               Finance
18    Lillian  Female   59414.0    1.256               Product
19     Jeremy    Male   90370.0    7.369       Human Resources
20      Shawn    Male  111737.0    6.414               Product
21      Diana  Female  132940.0   19.082       Client Services
22      Donna  Female   81014.0    1.894               Product
23       Lois     NaN   64714.0    4.934                 Legal
24    Matthew    Male  100612.0   13.645                   Mkt