In [1]:
import numpy as np
import pandas as pd

In [2]:
class StandardNorm:
  def scale(self,d):
    for i in d.columns:
      mean=d[i].mean()
      sd=d[i].std()      
      d[i]=(d[i]-mean)/sd     
    return d
data=pd.DataFrame([[45000,42],[32000,26],[58000,48],[37000,32]],columns=['Salary','Age'])
print("Original Data")
print(data)
s=StandardNorm()
df=s.scale(data)
print("\nScaled Data")
print(df)

Original Data
   Salary  Age
0   45000   42
1   32000   26
2   58000   48
3   37000   32

Scaled Data
     Salary       Age
0  0.176318  0.506803
1 -0.969750 -1.114967
2  1.322386  1.114967
3 -0.528954 -0.506803