In [1]:
import pandas as pd

In [2]:
class MinMaxNorm:
  def scale(self,d):
    for i in d.columns:
      min=d[i].min()
      max=d[i].max()
      d[i]=(d[i]-min)/(max-min)
    return d

In [3]:
data=pd.DataFrame([[45000,42],[32000,26],[58000,48],[37000,32]],columns=['Salary','Age'])
print("Original Data")
print(data)

Original Data
   Salary  Age
0   45000   42
1   32000   26
2   58000   48
3   37000   32

In [4]:
s=MinMaxNorm()
print("\nScaled Data")
df=s.scale(data)
print(df)

Scaled Data
     Salary       Age
0  0.500000  0.727273
1  0.000000  0.000000
2  1.000000  1.000000
3  0.192308  0.272727