Second Class of python

In [1]:
#for loop in python

In [2]:
fruits = ["apple", "banana", "graps"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
graps

In [ ]:
#The range() Function
#To loop through a set of code a specified number of times, we can use the range() function,
#The range() function returns a sequence of numbers, starting from 0 by default, and increments 
#by 1 (by default), and ends at a specified number.

In [6]:
for a in range(0,10,2): #here 2 is increments
    print(a)

0
2
4
6
8

In [7]:
#Note that range(6) is not the values of 0 to 6, but the values 0 to 5.
for a in range(0,100,3):
    print(a)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [8]:
a = [1,2,3]
type(a)

list

In [11]:
print(a)

[1, 2, 3]

In [12]:
for x in a:
    print(x)

1
2
3

In [24]:
sum = 0
for x in [1,2,3]:
    sum1 = 0
    sum=sum+1
print(sum1)
print(sum)

0
3

    Function in python
    syntax:
        def fun_Name():
            print()

In [25]:
def sum(a,b):
    return a+b

In [32]:
print(sum(1,2))

3

In [48]:
sum = 0
newSum=0
def SumFunc(a,b):
    newSum=2
    sum = sum + newSum
#print(SumFunc(1,2))
print(sum)
print(newSum)

0
0

In [15]:
def product(a,b,c):
    print(str(a) + "*" +str(b) + "*" + str(c) + "=" + str(a*b*c))
product(1,2,3)

1*2*3=6

In [55]:
def product(*args):
    for a in args:
        print(a)
product(1,2)

1
2

In [ ]:
#tuples represent ()
#list represents []