Class And Object

WAP that returns a list with odd/even numbes between 4 & 30

In [20]:
odd = []
for x in range(3,30):
    if x%2!=0:
        odd.append(x)
print(odd)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [21]:
odd1 = []
for x in range(3,31,2):
    odd1.append(x)
print(odd1)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [22]:
even2 = [x for x in range(4,31,2)]
even2

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

['ABC',' ','CDE',' ']

In [28]:
list1 = ['ABC','','CDE','E','']
list2 =[]
for x in list1:
    if x!='':
        list2.append(x)
print(list2)

['ABC', 'CDE', 'E']

In [29]:
list3= [x for x in list1  if x!=''] #list comprehension
list3

['ABC', 'CDE', 'E']

In [30]:
list4 =[]
def String1():
    for x in list1:
        if x!='':
            list4.append(x)
    return list4
String1()

['ABC', 'CDE', 'E']

In [39]:
list6 = [x for x in list1 if len(x)!=0]
list6

['ABC', 'CDE', 'E']

In [69]:
letter = "@N1M@L"
leter_count=0
num_count = 0
special_count =0
char = []
for x in letter:
    if x.isalpha()==True:
        leter_count = leter_count + 1
    elif x.isalnum()==True:
        num_count = num_count+1
    else:
        special_count+=1
print("Original String =", letter)
print("Letter Count =" , str(leter_count))
print("Number Count = ", str(num_count))
print("Special Count =", str(special_count))

Original String = @N1M@L
Letter Count = 3
Number Count =  1
Special Count = 2

In [115]:
a= [[1,0,0],
  [0,1,0],
  [0,0,1]]
index1 = 0
index2 = 0
sum=0
for x in a:
    for y in x:
        if index1==index2:
            sum+= 1
        else:
            
        index2+=1
    index1+=1
print(sum)

SyntaxError: invalid syntax (2940113719.py, line 12)